# compiled objects
obj/*


# Ogre SDK
OgreSDK_mingw_v1-7-2/*

# DevIL SDK
DevIL/*

# Boost
boost_1_44_0/*

#CEGUI SDK
CEGUI-SDK-0.7.5-mingw/*
Dependencies/*


#Superflous CB Project files
Projects/CodeBlocks/Khazad.depend
Projects/CodeBlocks/Khazad.layout
Projects/CodeBlocks/Khazad.workspace


#Dlls
*.dll


#The Executable
Distribution/Khazad_Debug.exe
Distribution/Khazad.exe


# Log files
Distribution/Khazad.log
Distribution/Ogre.log
Distribution/CEGUI.log
Distribution/ogre.cfg