# compiled objects
obj/*


# Ogre SDK
OgreSDK_MinGW_v1-7-2/*
OgreSDK_MinGW_v1-8-1/*

# DevIL SDK
DevIL/*

# Boost
boost_1_44_0/*
boost_1_51_0/*

#CEGUI SDK
CEGUI-SDK-0.7.5-MinGW/*
CEGUI-SDK-0.7.9-MinGW/*
Dependencies/*


#Superflous CB Project files
Projects/CodeBlocks/Khazad.depend
Projects/CodeBlocks/Khazad.layout
Projects/CodeBlocks/Khazad.workspace


#Dlls
*.dll


#The Executable
Distribution/Khazad_Debug.exe
Distribution/Khazad.exe


# Log files
Distribution/Khazad.log
Distribution/Ogre.log
Distribution/CEGUI.log
Distribution/ogre.cfg